.container-habilidades {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  max-width: 1200px; /* limita o tamanho da grid */
  margin: 30px auto;
  gap: 30px;
  }

@media (min-width: 1024px) {
  .container-habilidades {
    grid-template-columns: repeat(4, 1fr); /* no máximo 4 por linha */
    margin-top: 20px;
    
  }
}

@media (max-width: 734px) {
  .container-habilidades {
    grid-template-columns: repeat(2, 1fr); /* no máximo 4 por linha */
    margin-top: 20px auto;
    padding: 15px;
    
  }

  .card-habilidade h3{
    font-size: 12px;
  }

  .card-habilidade a{
    font-size: 11px;
  }
}

.card-habilidade {
  background: rgba(26, 26, 26, 0.3); /* Fundo semitransparente */
  padding: 20px 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px); /* Desfoque */
  -webkit-backdrop-filter: blur(10px); /* Suporte Safari */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Linha sutil */
}

.card-habilidade:hover {
  transform: translateY(-8px);
}

.card-habilidade img {
  width: 80px;
  margin-bottom: 15px;
}

.card-habilidade h3 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

 .card-habilidade a{
    font-size: 14px;
  }

.btn-certificado {
  display: inline-block;
  background: #0000B0; /* Roxo escuro → Violeta */
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s, opacity 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 4px rgba(3, 91, 255, 0.5);
}

.btn-certificado:hover {
  opacity: 0.9;
  transform: scale(1.05);
  box-shadow: 0 0 15px #333
}

@media (max-width: 460px) {
  .container-habilidades {
    grid-template-columns: repeat(2, 1fr); /* força 2 colunas */
    gap: 15px; /* diminui o espaço pra caber */
  }

  .card-habilidade {
    padding: 15px 20px; /* menos espaçamento interno */
  }

  .card-habilidade img {
    width: 60px;
  }

  .card-habilidade h3 {
    font-size: 14px;
  }

  .card-habilidade a {
    font-size: 12px;
  }
}
