h1 {
  font-size: 22pt;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); /* sombra suave */
}

p {
  font-size: 14pt;
  font-weight: 700;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); /* mais discreta */
}

.container-apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-texto-centro {
  max-width: 30%;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a{
  cursor: pointer;
}
.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.icon img {
  cursor: pointer;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon:hover {
  transform: scale(1.1);
}

.minha-foto{
  width: 40%;

}
.botao-curriculo {
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  background: #0000B0; 
  border-radius: 30px;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botao-curriculo:hover {
  background: linear-gradient(45deg, #8A2BE2, #4B0082); /* Inverte as cores no hover */
  transform: translateY(-2px);
}

.botao-curriculo:active {
  transform: translateY(1px); /* Efeito ao clicar */
}